application:
  title: "FrOSCon PHP Track"
  url: http://cfp.froscon-php-track.de/
  email: cfp@froscon-php-track.de
  eventurl: http://froscon-php-track.de/
  event_location: Hochschule Bonn-Rhein-Sieg
  enddate: 'August 30, 2018'
  show_submission_count: false
  airport: CGN
  arrival: '1535187600'
  departure: '1535306400'
  secure_ssl: false
  online_conference: false
  date_format: 'F j, Y'
  date_timezone: "UTC"
  coc_link: http://confcodeofconduct.com/
  show_contrib_banner: true
  venue_image_path: /assets/img/nerdish_by_nature.png

database:
  host: 127.0.0.1
  database: web185_db1
  dsn: mysql:dbname=web185_db1;host=127.0.0.1
  user: web185_1
  password: ohgoh2neNah7ueju

log:
  level: error

mail:
  host: s126.goserver.host
  port: 465
  username: web185p2
  password: vu5mae8outhaiV8h
  encryption: ~
  auth_mode: ~

talk:
  categories:
    web: Web-Development (Full Stack from Database over PHP to Frontend)
    principle: Development principles
    frameworks: Framework-related topics
    tooling: Tooling - Testing / Building / Deployment
    management: Project Management
    other: Others
  levels:
    entry: Entry level
    mid: Mid-level
    advanced: Advanced
  types:
    regular: Regular (50 mins)

security:
  firewalls:
    secured_area:
      form_forgot:
        csrf_parameter: _csrf_security_token
        csrf_token_id: forgot_password

reviewer:
  users:
    -
